{% comment %}
Renders a formset and its children recursively.
Usage: {% include "orange_sherbert/includes/formset.html" with formset=formset %}
{% endcomment %}

<div class="sherbert-formset">
    {{ formset.management_form }}
    {% for form in formset %}
        {% include "orange_sherbert/includes/form.html" with form=form %}
    {% empty %}
    <p class="sherbert-empty">No items yet.</p>
    {% endfor %}
    <button type="button"
        hx-post=""
        hx-swap="beforebegin"
        hx-vals='js:{formset_class: "{{ formset.model_name }}", prefix: "{{ formset.prefix }}", form_index: document.querySelector("#id_{{ formset.prefix }}-TOTAL_FORMS").value}'
        hx-on::after-request="document.querySelector('#id_{{ formset.prefix }}-TOTAL_FORMS').value++;"
        class="sherbert-btn sherbert-btn--secondary sherbert-formset-add">+ Add</button>
</div>
